body {
    font-family: 'inconsolata', monospace;
}

#wrapper {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    margin: 40px 0 40px 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    color: cornflowerblue;
    margin: 0 0 -20 0;
    float: left;
}

h6 {
    color: darkgray;
    font-weight: normal;
    font-size: 11px;
    text-align: right;
}

p {
    font-size: 14px;
}

#nav {
    float: left;
    list-style-type: none;
    margin-top: 96;
}

#nav li {
    width: 100px;
    display: list-item;
    padding: 10 0 10 0;
}

#nav a {
    color: darkgray;
}

#examtable ul {
    padding: 0;
    margin: 0;
    margin: auto;
    width: 720;
}

#examtable li {
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 14px;
    padding: 40 0 40 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.photo-l img {
    padding: 8 0 8 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 720px;
    display: block;
}

.photo-p img {
    padding: 8 0 8 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 480px;
    display: block;
}
